body {
  min-width: 320px;
  max-width: 2160px;
  padding-top: 56px;
}

.row{
    margin: 0px;
}

.subscriber{
    color: white;
    padding: 8px;
}

.frameBlogPosts{
    border: solid #EAEBF3;
    border-radius: 3px;
    background-color: #EAEFF3;
    border: 1px;
}

.frameCommentBlogPost{
    border: solid #EAEBF3;
    border-radius: 3px;
    background-color: #EAEFF3;
    border: 1px;
}

.behaviorSectionHome{
    display: flex;
    justify-content: space-around;
}

.behaviorContainer{
    
}

.behaviorLogos{
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logoHeight{
    height: 50px;
    width: auto;
}

/*********************************************/


/*Définition des normes*/

.btn-validationComments{
    padding-right: 40px;
    padding-left: 40px;
}




/*Les font face*/


@font-face
{
    font-family: 'elegant';
    src: url('../../public/polices/elegant.ttf');
}

@font-face
{
    font-family: 'transition';
    src: url('../../public/polices/transition.ttf');
}

@font-face
{
    font-family: 'sensational';
    src: url('../../public/polices/sensational.ttf');
}

@font-face
{
    font-family: 'veganstyle';
    src: url('../../public/polices/sensational.ttf');
}

@font-face
{
    font-family: 'moonglade';
    src: url('../../public/polices/moonglade.ttf');
}

@font-face
{
    font-family: 'trench';
    src: url('../../public/polices/trench.otf');
}


/*************/
/*Les polices*/
/*************/

.elegant{
    font-family: 'elegant';
    font-size: 52px;
}

.transition{
    font-family: 'transition';
    font-size: 40px;
}

.sensational{
    font-family: 'sensational';
    font-size: 30px;
}

.veganstyle{
    font-family: 'veganstyle';
    font-size: 30px;
}

.moonglade{
    font-family: 'moonglade';
    font-size: 40px;
}

.trench{
    font-family: 'trench';
    font-size: 40px;
}
/************************/
/*Les classes de polices*/
/************************/



/*************/
/*Mobil First*/
/*************/

.behaviorLogos{
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.behaviorModeration{
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    min-height: 330px;
}

.MarginTopModeration{
    margin-top: 2.5em;
}

.MarginBottomModeration{
    margin-bottom: 2.5em;
}

.MarginTopBlogPosts{
    margin-top: 3em;
}

.sizeMainAreaBlogPost{
    min-height: 330px;
}

/************/
/*Responsive*/
/************/

@media(max-width:667px){  
    .behaviorSectionHome{
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
    }
    
    .behaviorLogos{
        width: 400px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}


@media(min-width:1024px){  
    
    .behaviorSectionHome{
        display: flex;
        justify-content: space-around;
    }
    
    .behaviorModeration{
        display: flex;
        flex-flow: row;
        justify-content: space-around;
        align-items: center;
        min-height: 387px;
    }
    
    .behaviorConnection{
        min-height: 340px;
    }
    
    .behaviorValidationComments{
        min-height: 387px;
    }
    
    .MarginTopModeration{
        margin-top: 0em;
    }

    .MarginBottomModeration{
        margin-bottom: 0em;
    }
    
    .sizeMainAreaBlogPost{
        min-height: 387px;
    }
}

@media(min-width:1266px){
    .behaviorLogos{
        width: 400px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logoHeight{
        height: 50px;
        width: auto;
    }
}


@media(min-width:1920px){

}


